body {
    margin: 0;
    padding: 0;
    border: 0;
}

/*CABEÇALHO*/

.cabecalho{
    background: rgb(37, 37, 37);
    width: 100%;
    height: 70px;
    border-bottom: 5px solid orangered;
}

.caixa{
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.cabecalho img{
    width: 300px;
    float: left;
}

.cabecalho nav{
    float: right;
}

nav{
    margin-top: 0.5%;
}

u{
    list-style: none;
}

ul li{
    color: white;
    display: inline;
    margin-left: 20px;
    font-size: medium;
}

.home{
    color: red;
}

/*CADASTRO*/

.cadastro{
    background-color: #ecf0f1;
}

.caixa_cadastro{
    width: 333px;
    padding: 20px 0 0 120px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
}

.input_padrao{
    width: 415px;
    height: 25px;
    margin: 6px 0 33px 0;
    border-radius: 3px;
    border-color: rgba(128, 128, 128, 0.336);
}

h1{
    width: max-content;
    padding: 0 0 20px 0;
}

.btn_cadastro{
    color: white;
    background-color: green;
    margin: 0px 0 50px 0;
    border: 0;
    padding: 10px 17px;
    border-radius: 5px;
    float: left;
    cursor: pointer;
    width: 100px;
}

.img_side{
    width: 350px ;
    padding: 30px 20px 0 400px;
}

/*RODAPÉ*/

.rodape{
    background-color: orangered;
    height: 100px;
}

.rodape p{
    text-align: center;
    margin: 0;
    padding: 40px;
    color: white;
    font-weight: 100;
}