body{
    margin: 0;
    padding: 0;
    border: 0;
}

.cabecalho{
    background: rgb(37, 37, 37);
    width: 100%;
    height: 70px;
}

.caixa{
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.cabecalho img{
    width: 300px;
    float: left;
}

.cabecalho nav{
    float: right;
}

nav{
    margin-top: 0.5%;
}

u{
    list-style: none;
}

ul li{
    color: white;
    display: inline;
    margin-left: 20px;
    font-size: medium;
}

.home{
    color: red;
}